// В этом файле должны быть стили для БЭМ-блока about, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.about {

  $block-name:                &; // #{$block-name}__element

  &__row {
    @include row;
  }

  &__info {
    @include col();
    @include col(lg, 8);
    display: flex;
    align-items: center;

    .page-top {
      margin-bottom: 2rem;
    }
  }
  &__img {
    @include col();
    @include col(lg, 4);
  }
}
