// В этом файле должны быть стили для БЭМ-блока main, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main {

  $block-name:                &; // #{$block-name}__element

  &__section {

    min-height: 100vh;
    padding: 122px 0;
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 10px;
      height: 244px;
      background-image: url('../img/section-spacer.svg');
      background-repeat: no-repeat;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -180px;
    }

    &--video {

      padding-top: 60px;

      .container-narrow {
        max-width: 1320px;
      }

      .display-1 {
        text-align: center;
        margin: auto;
        max-width: 700px;
        position: relative;
        bottom: -80px;
      }
    }
  }

}
