// В этом файле должны быть стили для БЭМ-блока contacts-item, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts-item {

  $block-name:                &; // #{$block-name}__element

  color: inherit;
  text-decoration: none;

  a {
    color: inherit;
    text-decoration: none;
  }

  &__icon {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
  }

  &--phone {
    #{$block-name}__icon {
      margin-bottom: 4px;
    }
  }
}
