// В этом файле должны быть стили для БЭМ-блока location-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.location-card {

  $block-name:                &; // #{$block-name}__element

  text-align: center;
  padding: 15px 15px 30px 15px;
  background: #FFFFFF;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.07), 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 9px;

  display: flex;
  flex-direction: column;

  &__img-wrap {

  }

  &__name {

  }

  &__btn {
    margin-top: auto;
  }
}
